{% extends 'base.html.twig' %}

{% block title %}Lote index{% endblock %}

{% block body %}

    <div class="container">
        <div class="row my-2">
            <div class="col-12 text-end">
                <a class="btn btn-outline-primary " href="#">
                    <i class="bi bi-tags me-2"></i>
                    Lançar Tickets
                </a>
                <a class="btn btn-primary" href="{{ path('app_lote_new') }}">
                    <i class="bi bi-card-checklist me-2"></i>
                    Novo
                </a>
            </div>
        </div>
        <div class="row my-2">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header bg-primary text-white">
                        <div>Lista de Produtos</div>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            {% for lote in lotes %}
                                <li class="list-group-item">
                                    <div class="d-flex flex-row align-items-center justify-content-between">
                                        <div class="lead fw-bold">
                                            {{ lote.produto }}
                                        </div>
                                        <a class="btn "
                                           href="{{ path('app_lote_show',{'id':lote.id}) }}">
                                            <i class="bi bi-gear"></i>
                                        </a>
                                    </div>
                                    <div class="progress" role="progressbar" aria-label="Success example"
                                         aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-success" style="width: 25%">25%</div>
                                    </div>
                                    <hr class="mb-2 text-muted"/>
                                    <div class="d-flex flex-row align-items-center justify-content-between">
                                        <div class="small">
                                            <div><span class="small text-muted">Tickets Emitidos:</span> <strong
                                                        class="text-danger">{{ lote.quantidade }}</strong></div>
                                            <div><span class="small text-muted">Tickets Registrados:</span> <strong
                                                        class="text-danger">{{ lote.quantidade }}</strong></div>
                                        </div>
                                        <div>
                                            <a class="btn btn-primary btn-sm" href="#">
                                                <i class="bi bi-tags me-2"></i>
                                                Outro botão
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
