{% extends 'base.html.twig' %}

{% block title %}Alterar Senha{% endblock %}
{% block header_title %}Alterar Senha {% endblock %}
{% block body %}
    <h6 class="h6 mx-2">Usuário: {{ user.username }}</h6>
    <div class="card card-body my-2">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="container">
            <div class="row my-1">
                <div class="col">
                    <a class="btn btn-outline-primary w-100" href="{{ path('app_pessoa_index') }}">
                        <i class="bi bi-arrow-left-circle mx-2"></i>
                        Voltar
                    </a>
                </div>
                <div class="col">
                    <button class="btn btn-primary w-100">
                        <i class="bi bi-save mx-2"></i>
                        {{ button_label|default('Alterar') }}
                    </button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
